{% liquid
  assign blog_handle = section.settings.blog | default: 'information'
  assign info_blog = blogs[blog_handle]
%}

<section class="information-page page-width">
  {%- render 'page-breadcrumbs',
    top_label: 'トップ',
    top_url: routes.root_url,
    current_title: section.settings.heading
  -%}

  <header class="information-page__header">
    <h1 class="information-page__title">
      {{ section.settings.heading }}
    </h1>
    <div class="information-page__divider"></div>
  </header>

  {% if info_blog != blank and info_blog.articles_count > 0 %}
    <ul class="information-list">
      {% for article in info_blog.articles %}
        <li class="information-list__item">
          {% render 'information-card',
            article: article,
            open: section.settings.open_first and forloop.first
          %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="information-list__empty">
      現在、お知らせはございません。
    </p>
  {% endif %}
</section>

{% schema %}
{
  "name": "Information list",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "見出し",
      "default": "お知らせ"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "お知らせ用ブログ"
    },
    {
      "type": "checkbox",
      "id": "open_first",
      "label": "最初の記事を開いた状態にする",
      "default": true
    }
  ]
}
{% endschema %}
